html, body {
  height: 100%
}
.App {
  display: flex row;
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.meta-board {
  height: 750px;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.meta-row {
  flex: 1;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
}

.board {
  border: 1px dotted gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted gray;
  width: 100%;
}
