* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  height: 100%
}

.App {
  display: flex row;
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.meta-board {
  height: 750px;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.meta-row {
  flex: 1;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
}

.board {
  border: 1px dotted gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border: 1px dotted gray;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.green-border {
  border: 5px solid green;
}

.red-border {
  border: 5px solid red;
}

.opponent-won {
  border: 10px dotted red;
  color: red
}
.player-won {
  border: 10px dotted green;
  color: green
}

.player {
  background: lightgray;
  border: 8px lightgray;
}

.draw {
  border: 10px dotted yellow;
  color: yellow
}
