* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  height: 100%
}

.App {
  display: flex row;
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.meta-board {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
  height: 650px;
  width: 650px;
  display: flex;
  flex-direction: column;
}

.meta-row {
  flex: 1;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
}

.board {
  border: 1px dotted gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
  transition: background-color 1s
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border: 1px dotted gray;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.green-border {
  border: 5px solid green;
}

.red-border {
  border: 5px solid red;
}

.opponent-won {
  border: 10px dotted red;
  color: red
}
.player-won {
  border: 10px dotted green;
  color: green
}

.player {
  background: lightgray;
  border: 8px lightgray;
}

.draw {
  border: 10px dotted yellow;
  color: yellow
}


/* bomb css */

.n10 {
  font-size: 70px;
  color: #318E27
}

.n9 {
  font-size: 75px;
  color: #318E27
}

.n8 {
  font-size: 80px;
  color: #7B9E2B;
}
.n7 {
  font-size: 85px;
  color: #C1CD22
}
.n6 {
  font-size: 90px;
  color: #F5F544
}
.n5 {
  font-size: 95px;
  color: #FF8000;
}
.n4 {
  font-size: 100px;
  color: #FF8000
}
.n3 {
  font-size: 105px;
  color: #FF4D00
}
.n2 {
  font-size: 110px;
  color: #FF0000
}
.n1 {
  font-size: 115px;
  color: #FF0000
}
.n0 {
  font-size: 130px;
  color: #660066;
  /* transition: font-size 0.3s */
}
